.button {
  padding: 8px 16px;
  border-radius: 100px;
  border: 1px solid var(--blue);
  cursor: pointer;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  &_empty {
    background-color: transparent;
    color: var(--blue);
  }

  &_fill {
    background-color: var(--blue);
    color: var(--white);
  }
}
