html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-blue);
  color: var(--black);
  text-rendering: optimizelegibility;
  // font-family: var(--font-din-pro);
}

.overflow {
  overflow: hidden;
}
