@use 'keyframes';

.loader {
  border: 3px solid var(--black);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: var(--blue);
  }

  &_sm {
    width: 24px;
    height: 24px;
    border-color: transparent;

    &::after {
      border-left-color: var(--blue);
    }
  }

  &_md {
    width: 48px;
    height: 48px;
  }
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
